@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400|Roboto+Condensed:300,700&display=swap');

/***** GLOBAL SETTINGS *****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-font: 'Raleway', sans-serif;
    --secondary-font: 'Roboto Condensed', sans-serif;
    --primary-color: #4792A5;
    --light-text-color: #EFEFEF;
    --dark-text-color: #3C3C3C;
}


html {
    font-size: 11px;
    font-family: var(--primary-font);
    color: var(--dark-text-color);
    scroll-behavior: smooth;
}

h2 { color: var(--primary-color); }
h4 { font-family: var(--secondary-font); }

.text-light { color: var(--light-text-color);  }
.text-dark { color: var(--dark-text-color);  }


button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* show a hand cursor on hover; some argue that we
    should keep the default arrow cursor for buttons */
    cursor: pointer;
  }

a {
    text-decoration: none;
    font-family: var(--secondary-font);
}

p {
    font-size: 1.4rem;
    line-height: 2.5rem;
}

img{
    width: 100%;
    max-width: 100%;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

#hero {
    width: 100%;
    height: 100vh;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/main_bg.jpg');
    background-size:cover;
    background-attachment: fixed;
    position: relative;
}

#hero .hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    width: 90%;
}

.logo {
    border: 1px solid var(--primary-color);
    width: 7rem;
    height: 7rem;
    font-size: 4rem !important;
    text-align: center;
    line-height: 7rem;
    border-radius: 50%;
    color: var(--primary-color);
    
    background-color: var(--light-text-color);
    transition: all .4s;
}

.logo:hover {
    background-color: var(--dark-text-color);
    color: var(--light-text-color);
    
}


.main-title {
    font-family: var(--primary-font);
    font-weight: 100;
    font-size: 8rem;
    padding-bottom: 2rem;    
    
}

.main-title span {
    color: var(--primary-color);
    letter-spacing: 1.8rem;
    
    
}

.hero-content p {
    font-size: 1.6rem;
    color: var(--light-text-color);
    letter-spacing: 2.4rem;
    padding-bottom: 2rem; 
}

.arrow {
    margin-left: 50%;
    padding-top: 40px;
}

.arrow span {

    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #4792A5;
    border-right: 1px solid #4792A5;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2)
{
    animation-delay: -0.3s;
    
}
.arrow span:nth-child(3)
{
    animation-delay: -0.6s;
}

@keyframes animate
{
    0%
    {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px)
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px)
    }
}


.nav {
    background-color: rgba(71, 146, 165, 0.9);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
}

.navbar {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-list {
    display: flex;
    margin-left: 2rem;
}

.nav-list li {
    padding: 0 2rem;
}

.nav-list li:last-child{
    padding-right: 0;
}

a.nav-link {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: var(--light-text-color);
    font-weight: 700;
    transition: all .4s ease;
}

a.nav-link:hover {    
    color: var(--dark-text-color)
}

a.nav-link::after {
    content: '';
    display: block;
    height: .2rem;
    width: 0;
    background-color: var(--dark-text-color);
    opacity: 0;
    transition: all .4s ease;
}

a.nav-link:hover::after {
    width: 100%;
    opacity: 1;
    
}

.logo {
    font-size: 2rem;
}

.menu-toggle {
    font-size: 2.2rem;
    position: absolute;
    right: 2.5rem;
    cursor: pointer;
    display: none;
    z-index: 25;
}

.menu-toggle .line {
    width: 25px;
    height: 4px;
    background-color: var(--dark-text-color);
    margin: 5px;
    transition: all .4s ease-in;
}



.about-info, .team-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
}

section {
    padding-top: 16rem;  
    padding-bottom: 8rem;
    min-height: 100vh;
}



.vertical-title {
    font-size: 2rem;
    font-family: var(--secondary-font);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: var(--primary-color);
    word-spacing: 1rem;
    display: inline-block;
    transform: rotate(-90deg);
    position: absolute;
    top: 50%;
    left: -5%;
    
}

.about-content p, .team-content p {
    padding-right: 2rem;
}

.horizontal-title {
    padding-bottom: 2rem;
    font-size: 4rem;
    font-family: var(--primary-font);
    font-weight: 300;
}

.about-content, .team-content {
    margin-left: 4rem;
}


.btn-general {

    font-family: var(--secondary-font);
    border-radius: 2rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 2rem 0;
    padding: .5rem 2rem;
    transition: all .4s;
    letter-spacing: .2rem;
    font-weight: 700;

}

.btn-light {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.btn-light:hover {
    color: var(--light-text-color);
    background-color: var(--primary-color);
}

.btn-dark {
    color: var(--light-text-color);
    border: 2px solid var(--light-text-color);
}

.btn-dark:hover {
    color: var(--primary-color);
    background-color: var(--light-text-color);
}

.services-description .vertical-title,  .blog-description .vertical-title{
    color: var(--light-text-color);
    left: 95%;
    transform: rotate(90deg);
    white-space: nowrap;
}

.services-content, .blog-content {
    margin-right: 4rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}


.arrows {
    display: flex;
    padding-top: 2rem;
}

#services, #blog {
    background-color: var(--primary-color);
}

.services-info, .blog-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
    
}

.btn-arrow {
    cursor: pointer;
    margin-left: 2rem;

}


/***** PORTFOLIO *****/

section#portfolio {
    padding-top: 8rem; 
}

.portfolio-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'item-1 item-2 item-3 item-3'
                         'item-1 item-4 item-5 item-6'
                         'item-7 item-7 item-8 item-6';
                            
}


.portfolio-item {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

} 

.portfolio-item span {
    font-size: 5rem;
    color: rgba(255, 255, 255, 1);
    position: relative;
    z-index: 100;
    opacity: 0;
    transition: all .4s;
}

.portfolio-item::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(71, 146, 165, 0.9);
    opacity: 0;
    transition: all .4s;
}

.portfolio-item:hover span {
    opacity: 1;
}
.portfolio-item:hover::before
{
    opacity: 1;

}

.portfolio-item:hover::before
{
    width: 100%;
    height: 100%;
}

.portfolio-item-1 {
    grid-area: item-1;
    min-height: 50rem;
    background-image: url('../img/portfolio-item-1.jpg');
}

.portfolio-item-2 {
    grid-area: item-2;
    background-image: url('../img/portfolio-item-2.jpg');
}

.portfolio-item-3 {
    grid-area: item-3;
    background-image: url('../img/portfolio-item-3.jpg');
}

.portfolio-item-4 {
    grid-area: item-4;
    background-image: url('../img/portfolio-item-4.jpg');
}

.portfolio-item-5 {
    grid-area: item-5;
    background-image: url('../img/portfolio-item-5.jpg');
}

.portfolio-item-6 {
    grid-area: item-6;
    min-height: 50rem;
    background-image: url('../img/portfolio-item-6.jpg');
}

.portfolio-item-7 {
    grid-area: item-7;
    background-image: url('../img/portfolio-item-7.jpg');
}

.portfolio-item-8 {
    grid-area: item-8;
    background-image: url('../img/portfolio-item-8.jpg');
}


/***** TEAM *****/


.team-items {
    display: flex;
    
}

.team-item {
    position: relative;
}

.team-item-overlay {
    background-color: rgba(71, 146, 165, 0.9);
    position: absolute; 
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    opacity: 0;
    transition: all .4s;
}

.team-item-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-item-info h5 {
    color: var(--light-text-color);
    font-size: 1.6rem;
    font-family: var(--secondary-font);
    text-transform: uppercase;
}

.team-item-info p {
    color: var(--light-text-color);
    font-size: 2rem; 
    padding: 1.5rem 0;
    text-transform: uppercase;
    letter-spacing: .2rem;
    
}

.team-item:hover .team-item-overlay {
    opacity: 1;
    width: 100%;
    height: 100%;
}

ul.social-list {
    display: flex;
    text-align: center;
    line-height: 3.4rem;
}

ul.social-list li {
    padding: 0;
}

ul.social-list li a{
    border-radius: 50%;
    border: 1px solid #fff;
    height: 3.2rem;
    width: 3.2rem;
    display: inline-block;
    margin: 0 0.5rem;
    transition: all .4s;
    
}

ul.social-list li i {
    font-size: 1.5rem;
    color: var(--light-text-color);
}


ul.social-list li:nth-child(1) a:hover{
    background-color: #FF0000;
    border-color: transparent;
}

ul.social-list li:nth-child(2) a:hover{
    background-color: #38A1F3;
    border-color: transparent;
}

ul.social-list li:nth-child(3) a:hover{
    background-color: #0E76A8;
    border-color: transparent;
}

.latest-posts {
    display: flex;
    flex-direction: column;
}

.blog-post {
    background-color: #fff;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
}

.blog-post h4 {
    text-transform: uppercase;
    font-size: 1.4rem;
    padding-bottom: 1.4rem;
    color: var(--primary-color);
}

.blog-post p {
   font-size: 1.2rem;
   line-height: 2rem;
}

.blog-post a {
    display: block;
    margin: 1rem 0;
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 700;
}

.post-meta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid var(--primary-color);
    padding-top: 1rem;
}

.post-meta p {
    margin-left: 1rem;
}

.divider {
    color: black;
    margin-left: 1rem;
    font-weight: bold;
}

.post-meta p.author {
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.post-meta p.date {
    text-transform: uppercase;
    color: var(--dark-text-color);

}

.post-meta img {
    height: 4rem;
    width: auto;

    border-radius: 50%;
}

.post-meta .date {
    display: block;

}

#contact {
    width: 100%;
    height: 100vh;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/contact_bg.jpg');
    background-size:cover;
    background-attachment: fixed;
    position: relative;
    color: var(--light-text-color);
}

.contact-content {
    display: grid;
}


.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contact-form h2 {
    color: var(--primary-color);
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 4rem;
}

.name, .email, .message {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--primary-color);
    padding: 2rem .5rem;
    min-width: 100%;
    max-width: 100%;
    color: var(--light-text-color);
    
}

::placeholder {
    color: var(--primary-color);
}

.message {
    resize: none;
}


footer {
    background-color: black;
    color: var(--light-text-color);
    padding: 2rem 0;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.social-media {
    display: flex;
    align-items: center;
    
    
}
.social-media h4 {
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .2rem;
}


.social-icons {
    display: flex;
    margin-left: 2rem;
    font-size: 2rem;
}

.social-icons li {
    padding: 0;
    text-align: center;
}

.social-icons li a {
    color: var(--light-text-color);
    border-radius: 50%;
    border: 1px solid #fff;
    height: 4rem;
    width: 4rem;
    display: inline-block;
    margin: 0 0.5rem;
    transition: all .4s;
}


.social-icons li i {
    font-size: 2rem;
    line-height: 4rem;
}

.social-icons li:nth-child(1) a:hover{
    background-color: #38A1F3;
    border-color: transparent;
}

.social-icons li:nth-child(2) a:hover{
    background-color: #171515;
    border-color: transparent;
}

.social-icons li:nth-child(3) a:hover{
    background-color: #3B5998;
    border-color: transparent;
}

.social-icons li:nth-child(4) a:hover{
    background-color: #FF0000;
    border-color: transparent;
}

.copy-right {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem; 
}

.back-to-top {
    justify-self: end;
    text-align: center;

}

.back-to-top i {
    font-size: 2rem;
}

.back-to-top a {
    border: 1px solid white;
    border-radius: 50%;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
    display: inline-block;
    background-color: var(--primary-color);
    transition: all .4s;

}

.back-to-top a:hover {
    border-color: transparent;
    background-color: var(--light-text-color);
    color: var(--primary-color);
}






@media only screen and (max-width: 992px) {
    .menu-toggle {
        display: block;
        
    }

    .nav-list {
        display: block;
        position: absolute;
        top: 8rem;
        left: 0;
        background-color: var(--primary-color);
        z-index: 40;
        width: 50%;
        height: 100vh;
        transform: translateX(-110%);
        opacity: .9;
        transition: transform .4s ease-in;

    }

    li.nav-item {
        padding-top: 2rem;
    }

    .navbar {
        justify-content: space-around;
    }

    a.nav-link:hover::after {
        width: 50%;
    }

    .main-title {
        font-size: 6rem;
    }

    .hero-content p {
        font-size: 1.4rem;
        letter-spacing: 1.4rem;
    }

    .services-description .vertical-title {
        left: 93%;
    }

    .footer-content {
        grid-template-columns: 1fr 1fr; 
        text-align: center;
    }

    .logo {
        width: 6rem;
        height: 6rem;
        font-size: 3rem !important;
        line-height: 6rem;
    }

    .vertical-title {
        display: none;
    }

    html, body {
        overflow-x: hidden;
    }


}

@media only screen and (max-width: 768px) {
    h2 { 
        
        color: red; 
        font-size: 1.6rem;
    
    }

    .about-info, .team-info  {
        grid-template-columns: 1fr;
    
    }

    .services-info, .blog-info {
        grid-template-columns: 1fr;
    }

    .blog-description {
        grid-row-start: 1;
        margin-bottom: 2rem;
    }



    .contact-form {
        grid-row-start: 1;
    }



    .horizontal-title {
        padding-bottom: 2rem;
        font-size: 3rem;
        font-family: var(--primary-font);
        font-weight: 300;
    }

    .about-img {
        padding: 0 4rem;
    }

    .team-items, .latest-posts {
        padding: 0 4rem;
    }

    .services-img {
        padding: 0 3rem 4rem 2rem;
    }

    .portfolio-items {
        grid-template-areas: 'item-1 item-1 item-3 item-3'
                             'item-1 item-1 item-2 item-2'
                             'item-7 item-7 item-4 item-4'
                             'item-6 item-6 item-4 item-4'
                             'item-5 item-5 item-8 item-8';
                                
    }

    .portfolio-item-4 {
        min-height: 50rem;
    }

    .portfolio-item-6 {
        min-height: 25rem;
    }

    .contact-content {
        grid-template-columns: 1fr;
    }


    section {
        padding-top: 12rem;  
    }

    .footer-content {
        grid-template-columns: 1fr; 
    }

    .back-to-top {
        justify-self: center;
        margin-top: 2rem;
    }

    .social-media {
        justify-self: center;
        margin-top: 2rem;
    }

    
}



.nav-active {
    transform: translateX(-2.4rem);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,8px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-8px); 
}





